@font-face {
  font-family: raleway;
  src: url("https://fonts.google.com/share?selection.family=Raleway:wght@100");
}

body {
  font-family: raleway;
  background-color: white;
  color: rgb(59, 48, 48);
}

/* .mapImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

.headerTitle {
  background-color: rgb(36, 66, 25);
  padding: 30px;
  color: rgb(194, 202, 239);
}

.homeDiv {
  background-image: url("https://images.unsplash.com/photo-1495954380655-01609180eda3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80");
  background-repeat: no-repeat;
  /* height: 100%;
  width: 100%; */
  display: block;
  background-position: center;
  padding: 100px
}

.welcome {
  font-size: 250px;
  color: rgb(255, 255, 255, 0.7);
  text-align: center;
  margin: 100px;
}

.header {
  font-size: 80px;
  margin-top: 20px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px #dbd8ce;
}

.headerDiv {
  outline: solid;
  margin-bottom: 40px;
  background-color: rgba(32, 30, 27, 0.972);
}