@font-face {
  font-family: raleway;
  src: url(Raleway.ttf);
}

body {
  font-family: raleway;
  background-color: white;
  color: white;
}

.headerTitle {
  background-color: rgb(36, 66, 25);
  padding: 30px;
  color: rgb(194, 202, 239);
}

.App {
  background-image: url("city.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 1000px;
  background-size: cover;
}

.welcome {
  font-size: 250px;
  color: rgb(255, 255, 255, 0.7);
  text-align: center;
  /* margin: 100px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  font-size: 80px;
  margin-top: 20px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px #dbd8ce;
}

.headerDiv {
  outline: solid;
  margin-bottom: 30px;
  background-color: rgba(32, 30, 27, 0.972);
}

.cityDiv {
  text-align: center;
}