@font-face {
  font-family: raleway;
  src: url(Raleway.ttf);
}

body {
  font-family: raleway;
  background-color: white;
  color: white;
}

.headerTitle {
  background-color: rgb(36, 66, 25);
  padding: 30px;
  color: rgb(194, 202, 239);
}

.App {
  background-image: url("city.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 1000px;
  background-size: cover;
}

.welcome {
  font-size: 250px;
  color: rgb(255, 255, 255, 0.6);
  text-align: center;
  /* margin: 100px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 300px;
}

.header {
  font-size: 40px;
  margin-top: 0px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px #dbd8ce;
  color: rgba(32, 30, 27);
  padding-left: 5px;
  padding-top: 10px;
  display: inline;
}

.headerDiv {
  margin-bottom: 30px;
  padding-left: 20px;
  /* background-color: rgba(32, 30, 27, 0.972); */
}

.cityDiv {
  text-align: center;
}

.navDiv {
  text-align: right;
  padding-right: 20px;
  font-weight: bolder;
}

.active {
  background-color: rgba(37, 32, 32, 0.775);
  border-radius: 8px;
  border-width: 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}